.app {
  border: 2px solid $white-two;
}

.app__header {
  width: 230px;
  margin: 0 auto;
  text-align: center;
  padding-top: 38px;
  padding-bottom: 38px;
}

.app__item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.add__list {
  padding-left: 20px;
}

.app__label {
  position: relative;
  cursor: pointer;
  padding-left: 64px;
  padding-right: 64px;
}

.app__item input + label::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $white;
  border: 2px solid $white-two;
  border-radius: 50%;
  top: -4px;
  left: 0;
  width: 37px;
  height: 36px;
  cursor: pointer;
}

.app__item input:checked + label::before {
  background-image: url("../img/icon-map-marker.svg");
  background-position: -2px center;
}

@media (min-width: $tablet-width) {
  .app__header {
    width: 380px;
    background-color: $white;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    top: -15px;
    left: 190px;
    display: inline-block;
  }
}

@media (min-width: $desktop-width) {
  .app {
    padding-bottom: 40px;
  }

  .app__header {
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
    width: 370px;
    position: relative;
    top: -15px;
    left: 54px;
    display: inline-block;
  }
}
