.main-header {
  width: 100%;
  background-color: $dark-two-03;

  &--opend {
    position: static;
  }

  &--closed {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.main-header--closed {
  .main-nav {
    display: none;
  }
}

.main-header__toggle {
  top: 20px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 50px;
  height: 25px;
  background-color: $dark-two;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.main-header--closed .main-header__toggle::before {
  content: "";
  position: relative;
  display: block;
  top: -6px;
  left: -4px;
  width: 50px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-header--closed .main-header__toggle:hover::before {
  background-color: $lipstick;
  box-shadow: 0 8px 0 0 $lipstick, 0 16px 0 0 $lipstick;
}

.main-header--closed .main-header__toggle:active::before {
  background-color: $lipstick-03;
  box-shadow: 0 8px 0 0 $lipstick-03, 0 16px 0 0 $lipstick-03;
}

.main-header--opened .main-header__toggle {
  top: 0;
  right: 0;
  left: auto;

  &::before,
  &::after {
    content: "";

    width: 36px;
    height: 2px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.main-header__wrapper {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding-left: 20px;
  align-items: center;
  min-height: 66px;
  box-shadow: 0 1px 0 0 $black, inset 0 1px 0 0 $white-15;
  padding-right: 20px;
  background-color: $dark-two;
}

.main-header__logo {
  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.main-header__link:hover .main-header__logo {
  fill: $lipstick;
}

.main-header__link:active .main-header__logo {
  fill: $white-15;
}

@media (min-width: $tablet-width) {
  .main-header__wrapper {
    min-height: 106px;
    padding-bottom: 10px;
  }

  .main-header__logo {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }

    &--desktop {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    width: 320px;
    box-shadow: none;
    background-color: transparent;
    padding-left: 124px;
    padding-right: 0;
    padding-bottom: 10px;
  }

  .main-header {
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    // justify-content: space-between;
    align-items: center;
    // padding-left: 130px;
    // padding-right: 130px;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    width: 1200px;
  }

  .main-header--closed {
    .main-nav {
      display: block;
    }
  }

  .main-header--closed .main-header__toggle {
    display: none;
  }

  .main-header__logo {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .main-header__toggle {
    display: none;
  }
}
